force-app/main/default/flows/AssetContractRelationship_After_Create2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Entitlements_to_Create_List</name>
        <label>Add to Entitlements to Create List</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>EntitlementsToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisNewAssetEntitlement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contracted_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Asset_Entitlement_Values</name>
        <label>Assign New Asset Entitlement Values</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_contracted_users.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_contracted_users.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_contracted_users.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.LifecycleStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisNewAssetEntitlement.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.LifecycleEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Entitlements_to_Create_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AssetContractRelationship After Create2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssetContractRelationship After Create2</label>
    <loops>
        <name>Loop_contracted_users</name>
        <label>Loop contracted users</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Contracted_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Asset_Entitlement_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Asset_Entitlements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset_Entitlements</name>
        <label>Create Asset Entitlements</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>EntitlementsToCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contracted_Users</name>
        <label>Get Contracted Users</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_contracted_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contracted_Users__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Status</name>
        <label>Update Asset Status</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Contracted_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Asset</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Asset_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AssetContractRelationship</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EntitlementsToCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement__c</objectType>
    </variables>
    <variables>
        <name>thisNewAssetEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement__c</objectType>
    </variables>
</Flow>
