force-app/main/default/flows/Run_Pricing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>run_pricing</name>
        <label>run pricing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pricingPref</name>
            <value>
                <elementReference>PricingPref</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>graph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_graph</name>
        <label>assign graph</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>referenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_record_reference</name>
        <label>assign record reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>referenceRecord.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referenceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_Each_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_graph</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_Each_RecordId</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>referenceId</name>
        <dataType>String</dataType>
        <expression>&apos;ref&apos;+{!ObjectType}+TEXT({!Counter})</expression>
    </formulas>
    <interviewLabel>Run Pricing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Pricing</label>
    <loops>
        <name>for_Each_RecordId</name>
        <label>for Each RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_record_reference</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>run_pricing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>for_Each_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>graph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricingPref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceRecord</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
