force-app/main/default/flows/runOrderPricing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>run_pricing</name>
        <label>run pricing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pricingPref</name>
            <value>
                <elementReference>PricingPreference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>graph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_order_graph</name>
        <label>assign order graph</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>referenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_RecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_order_record_reference</name>
        <label>assign order record reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>referenceRecord.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>orderRef</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_order_graph</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_quote_graph</name>
        <label>assign quote graph</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>referenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_RecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_quote_record_reference</name>
        <label>assign quote record reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>referenceRecord.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>refQuote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referenceRecord.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_quote_graph</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Object</name>
        <label>Set Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Object</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isQuoteOrOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isQuoteOrOrder</name>
        <label>isQuoteOrOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Each_RecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_quote_record_reference</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_order_record_reference</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Either a Quote or Order</description>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!Object},3),&apos;0Q0&apos;,&apos;Quote&apos;,&apos;801&apos;,&apos;Order&apos;,NULL)</expression>
    </formulas>
    <interviewLabel>runOrderPricing - Matt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>runOrderPricing</label>
    <loops>
        <name>For_Each_RecordId</name>
        <label>For Each RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>run_pricing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_Each_RecordId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>graph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricingPreference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referenceRecord</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
